

.task-card {
    min-width: 25rem;
}

@media screen and (max-width: 425px){
    .task-card {
        min-width: 0;
    }
}

.task-card__card {
    width: 100%;
    max-width: 25rem;
}

.task-card__img {
    height: 100%;
    max-height: 225px;
}