.footer__link {
    display: block;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    --bs-text-opacity: 1;
    color: #6c757d;
}


.footer__link.active {
    color: gold;
}

@media (prefers-reduced-motion: no-preference) {
    .Footer-logo {
        animation: Footer-logo-spin infinite 20s linear;
    }
}

@keyframes Footer-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}