
@media (prefers-reduced-motion: no-preference) {
    .Footer-logo {
        animation: Footer-logo-spin infinite 20s linear;
    }
}

@keyframes Footer-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}